@CHARSET "UTF-8";
#logo{
	float: left;
	padding-right: 37%;
}
#header_nav{
	padding-top: 5px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
nav span{
	padding-right: 20px;
	font-size: 20px;
}
#header{
	margin-top: 10px;
	height: 47px;
    border-bottom: solid 1px;
}
.apply_homie{
	margin-top: 10px;
	border :  solid 1px;
	float: right;
	margin-right: 5px;
	padding : 3px;
	overflow: hidden;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}
@media screen and (max-width: 920px) { .apply_homie { display : none } }

body{
	min-width: 345px; 
}

.header-content{
	float: left;
	color: gray;
}